@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

   html {
       font-family: 'Montserrat', sans-serif;
       text-align: center;
       margin-top: 3em;
       text-align:center; 
       width:100%;
   }
   

   body {
     color: #4B4DEB;
     font-size: 45px;
     font-weight: bold;
    
    
   }
   table {
       margin: 0 auto;
       border-collapse: collapse;
       transition: background-color .5s;  
       text-align: center;
       justify-content: center;
       align-items: center;
       border-collapse: separate;
       border-spacing: 10px;
       margin-top:-14em; 
   }   
   
   td {
       width: 120px;
       height: 120px;
       border: 11px solid pink;
       font-size: 50px;
       cursor: pointer;
       background-color: #DFF3E3;
       transition: background-color .5s;  
       justify-content: center;
       align-items: center;
       border-radius: 4px;
       box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 50px;
      
   }

   td:hover {
     background-color: rgba(0,0,0,0);
     transition: background-color .5s;
     color: #33DBFF;
     cursor: pointer;
     border: 5px solid pink;
     transition: border, color, .5s;
   }

   button {
     font-size: 30px;
     font-family: 'Montserrat', sans-serif;
     color: tomato;
     background-color: white;
     border: 1px solid tomato;
     padding: 15px;
     transition: border, color, .5s;
     border: 20px;
     margin-top:1em;
   }
   
   button:hover {
     cursor: pointer;
     color: #33DBFF;
     border: 5px solid pink;
     transition: border, color, .5s;
   }
   
   .reset:focus {
     outline: none;
   }
   
  h1{
    font-size: 25px;
    color:#4B4DEB ;
    font-family: 'Montserrat', sans-serif;
    margin-top:20px;
    margin-left: 35em;
    position: absolute;
    top: 2.5em;
    left: 870;
    width: 100%;
    margin: 0;
    display:table-cell;
    width:50%;
  }
  
  #o_score{
    text-align: center;
    font-size: 20px;  
    padding-bottom:5px;
    color: tomato;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 41em;
    position: absolute;
    top: 5.3em;
    left: 497;
    width: 100%;
    margin: 0;

  }
  
  #x_score{
    text-align: center;
    font-size: 20px;  
    font-family: 'Shift', sans-serif;
    padding-top:10px;
    padding-bottom:5px;
      color: tomato;
      margin-left: 42em;
      position: absolute;
      top: 6.7em;
      left: 497;
      width: 100%;
      margin: 0;
  

  }
  
